<div>
  <h4><%= flash[:notice] %></h4>
</div>
<div class="d-flex align-items-center">
  <h1 class="ttl">掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
    <button style="text-decoration: none; font-size: 2vw;" type="button"><%= link_to 'Create Page', 'boards/new' %></button>
  </div>
</div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <th>1</th>
            <td>sample</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
    </tbody>
  </table>
  

